<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bangundatar.yusril.anonym.bangunruang">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconbangundatar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="bangundatar.yusril.anonym.bangunruang.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.Materi"
            android:label="@string/titlemateri"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.MainActivity" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.persegi"
            android:label="@string/titlemuatanlistrik"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.Materi" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.segitiga"
            android:label="@string/tittlekuatarus"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.Materi" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.lingkaran"
            android:label="@string/titlelingkaran"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.Materi" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.persegipanjang"
            android:label="@string/titlepersegipanjang"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.Materi" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.kalkulatorpersegi"
            android:label="Persegi" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.kalkulatorsegitiga"
            android:label="Segitiga" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.kalkulatorlingkaran"
            android:label="Lingkaran" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.kalkulatorpersegipanjang"
            android:label="Persegi panjang" />
        <activity
            android:name="bangundatar.yusril.anonym.bangunruang.Quiz"
            android:label="Quiz"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.MainActivity" />
        <activity android:name="bangundatar.yusril.anonym.bangunruang.hasilquiz" />
        <activity android:name="bangundatar.yusril.anonym.bangunruang.About"
            android:label="Tentang Aplikasi"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.MainActivity"
            />
        <activity android:name="bangundatar.yusril.anonym.bangunruang.Dev"
            android:label="Developer"
            android:parentActivityName="bangundatar.yusril.anonym.bangunruang.MainActivity"
            >

        </activity>
    </application>

</manifest>